body, h1, h2, h3, h4, ul, li {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
:root {
  --primary-color: #ff9854;
  --van-search-left-icon-color: var(--primary-color)!important;
}
